.my-select {
  height: auto;
  margin-right: 1rem;
}

.box {
  border: 1px solid #cdcdcd;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  padding: 1.5rem;
  .avatar {
    width: 10rem;
    height: 10rem;
    margin-right: 15px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
