.my-select {
  height: auto;
  margin-right: 1rem;
  max-height: unset;
}

.box {
  border: 1px solid #cdcdcd;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  padding: 1.5rem;
  font-size: 1.4rem;
  .avatar {
    max-width: 12rem;
    max-height: 12rem;
    min-width: 8rem;
    min-height: 8rem;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.my-btn-danger {
  border-radius: 6px;
}

.btn-view-more {
  display: inline-flex;
  border-radius: 6px;
}

.my-select {
  min-width: 25rem;
}
