<div class="custom-range-date-picker">
  <input type="text" matInput autocomplete="off" ngxDaterangepickerMd [autoApply]="options.autoApply"
    [linkedCalendars]="options.linkedCalendars" [singleDatePicker]="options.singleDatePicker" applyLabel="Xong"
    [showDropdowns]="true" [locale]="options.locale" [(ngModel)]="selected"
    [showWeekNumbers]="options.showWeekNumbers" [showCancel]="options.showCancel"
    [showClearButton]="options.showClearButton" [showISOWeekNumbers]="options.showISOWeekNumbers"
    [customRangeDirection]="options.customRangeDirection" [lockStartDate]="options.lockStartDate" [timePicker]="options.timePicker"
    [closeOnAutoApply]="options.closeOnAutoApply" firstMonthDayClass="first-day"
    lastMonthDayClass="last-day" emptyWeekRowClass="empty-week" lastDayOfPreviousMonthClass="last-previous-day"
    firstDayOfNextMonthClass="first-next-day" name="start_date" class="form-control fs-14"
    (ngModelChange)="ngModelChange($event)" />
    <img class="icon-date-picker" src="assets/images/svg/calendar.svg" alt="">
</div>