/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html {
  font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: Mulish;
  font-size: 1.3rem;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep table caption {
  display: none;
}

// ============ start style my-input-search ==========
.my-input-search {
  min-width: 30rem;
  background: #f3f6f9;
  max-height: 3.6rem;
  border-radius: 6px;
  img {
    width: 15px;
  }
}
.ant-input-affix-wrapper {
  padding: calc(0.5rem + 1px) 10px calc(0.5rem + 1px) calc(2.1rem + 1px) !important;
  border-radius: 6px;
  background: #f3f6f9;
  border: none;
  input {
    background: #f3f6f9;
  }
}

.my-input-search-custom {
  position: relative;
  input {
    width: 100%;
    border: none;
    height: 100%;
    background: none;
    padding: 9px 30px 9px 15px;
    outline: none;
    border-radius: 6px;
  }
  input:focus {
    outline: none;
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px !important;
  }
  img {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 17px;
  }
}
// ============ end style my-input-search ==========

// ============ start style checkbox =========
::ng-deep .my-checkbox {
  display: flex;
  align-items: center;
  max-width: max-content;
  .ant-checkbox {
    top: 0;
  }
  .ant-checkbox-inner {
    width: 19px;
    height: 19px;
    border-radius: 4px;
    border: 1px solid #556ee6;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #556ee6;
  }
  .ant-checkbox-wrapper:hover {
    border-color: #556ee6;
  }
  .ant-checkbox + span {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
::ng-deep .my-checkbox--white {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
  }
  .ant-checkbox-checked .ant-checkbox-inner::after {
    border: 2px solid #556ee6;
  }
}
// =========== end style checkbox ============

// ======================= start style modal global ==========================
.modal-header {
  padding-top: 2rem;
  padding-bottom: 1.3rem;
  border-bottom-color: #ededed;
  padding-right: 2rem;
  padding-left: 2rem;
}

.modal-btn-close {
  outline: none;
  border: none;
  border-radius: 50%;
  background: #556ee6;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: #fff;
  }
}

.modal-body {
  padding-right: 2rem;
  padding-left: 2rem;
}

.modal-footer {
  border-top-color: #ededed;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 1.4rem;

  .my-btn-cancel {
    margin-right: 7px;
  }

  .my-btn-primary {
    margin-left: 7px;
  }
}

.modal {
  top: 15px;
}

// custom size when open modal
.modal-xxl {
  max-width: 80%;
}

.modal-xxxl {
  max-width: 90%;
}

.modal-full-screen {
  max-width: 95%;
}
// ========================== end style modal global ===========================

// ====================== start style text ==========================
.title-compo-global {
  font-size: 1.6rem;
  font-weight: 600;
}

.title-modal-global {
  font-size: 1.8rem;
  font-weight: 600;
}

.text-normal-global {
  font-size: 1.3rem;
}

.text-medium-global {
  font-size: 1.6rem;
}

.text-small-global {
  font-size: 1.2rem;
}

.text-form-control-global {
  font-size: 1.4rem;
}

.text-no-data {
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

@media (max-width: 1280px) {
  .title-compo-global {
    font-size: 1.4rem;
  }

  .title-modal-global {
    font-size: 1.7rem;
  }

  .text-normal-global {
    font-size: 1.2rem;
  }

  .text-medium-global {
    font-size: 1.5rem;
  }

  .text-form-control-global {
    font-size: 1.3rem;
  }
}

// ====================== end style text ==========================

// ====================== start style button so ==========================
.my-btn {
  outline: none;
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: calc(0.6rem + 1px) calc(1.9rem + 1px) !important;
  min-width: 7rem;
}

.my-btn:focus {
  outline: none;
}

// 1.
.my-btn-primary {
  background: #556ee6;
  border-radius: 6px;
  color: #fff;
  font-size: 1.4rem;
  padding: calc(0.8rem + 1px) calc(2.1rem + 1px) !important;
  min-width: 2rem;

  img {
    margin-right: 4px;
    width: 14px;
    height: 14px;
  }

  &--small {
    font-size: 1.2rem;
    border-radius: 3px;
    padding: calc(0.5rem + 1px) calc(1.9rem + 1px) !important;

    img {
      width: 13px;
      height: 13px;
    }
  }
}

.my-btn-primary.active,
.my-btn-primary:hover {
  background: #3c5ae9;
}

.my-btn-primary:focus {
  outline: none;
}

// 2.
.my-btn-danger {
  background: #f64e60;
  border-radius: 4px;
  color: #fff;
  padding: calc(0.6rem + 1px) calc(1.9rem + 1px) !important;

  img {
    margin-right: 4px;
    width: 14px;
    height: 14px;
  }
}

.my-btn-danger.active,
.my-btn-danger:hover {
  background: #e54a4a;
}

// 3.
.my-btn-cancel {
  background: #f4f5f9;
  font-size: 1.2rem;
  border-radius: 3px;
  color: #495057;
  padding: calc(0.5rem + 1px) calc(1.9rem + 1px) !important;
}

.my-btn-cancel.active,
.my-btn-cancel:hover {
  background: #cfd3dd;
}

// 4.
.btn-disable,
button:disabled,
button[disabled] {
  opacity: 0.6;
}
// ====================== end style button so ==========================

// ====================== style color =================================
.color-primary {
  color: #464e5f;
}

.color-secondary {
  color: #50a5f1;
}

.color-tertiary {
  color: #7b8188;
}
// ======================= end style color ============================

// ======================= end style table ============================
.table-global {
  thead {
    th {
      font-size: 1.5rem;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    border-bottom: 1px solid #eff3f4 !important;

    th.border-left {
      border-left: 1px solid #eff3f4 !important;
    }

    th.border-right {
      border-right: 1px solid #eff3f4 !important;
    }

    th.border-top {
      border-top: 1px solid #eff3f4 !important;
    }

    th.border-bottom {
      border-bottom: 1px solid #eff3f4 !important;
    }
  }

  thead.no-border {
    border-bottom: none !important;
  }

  tbody {
    tr {
      font-size: 1.4rem;
      border-bottom: 1px solid #eff3f4 !important;
    }

    tr.no-border {
      border-bottom: none !important;
    }

    tr.no-border:last-child {
      border-bottom: none !important;
    }

    tr:last-child {
      border-bottom: 1px solid #eff3f4 !important;
    }

    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    td.border-left {
      border-left: 1px solid #eff3f4 !important;
    }

    td.border-right {
      border-right: 1px solid #eff3f4 !important;
    }

    td.border-top {
      border-top: 1px solid #eff3f4 !important;
    }

    td.border-bottom {
      border-bottom: 1px solid #eff3f4 !important;
    }

    tr:last-child .border-bottom {
      border-bottom: 1px solid #eff3f4 !important;
    }
  }
}
// ======================= end style table ============================

// ============ start style my-select ==============
.my-select {
  min-width: 12rem;
  max-height: 3.6rem;
  height: 100%;
  background: #f3f6f9;
  border-radius: 6px;
  // border: 1px solid #d9d9d9;
  border: none;
  padding: 0 10px;
  outline: none;
}

.my-select:focus {
  outline: none;
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border-right-width: 1px !important;
}
// ============ end style my-select ============

// ========== start style my-btn-open-drop-menu ==========
.my-btn-open-drop-menu {
  border: 1px solid #556ee6;
  border-radius: 3px;
  background-color: #ffffff;
  color: #556ee6;
  padding: 5px 8px;
}
.my-item-drop-menu {
  font-size: 1.4rem;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px 10px;
  border-radius: 4px;
  img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
}
.my-item-drop-menu:hover {
  cursor: pointer;
  background: #f3f6f9;
}
::ng-deep .ant-dropdown {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
// ========== end style my-btn-open-drop-menu ==========

// ========= start style my-form-group =========
.my-form-group {
  label {
    margin-bottom: 5px;
  }
  input,
  select,
  textarea {
    padding: 0.8rem 1rem;
    background: #f5f8fa;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
  }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%) !important;
    border-right-width: 1px !important;
    border: 1px;
  }
}
// ========= end style my-form-group =========

// ========= start style pagination global =========
.table-paginate-global {
  .custom-page-size {
      display: flex !important;
      align-items: center !important;

      .title-page-size {
          margin-right: 10px;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 20px;
          color: #464E5F;
      }

      .custom-select {
          width: 65px;
          height: 30px;
          background: #F5F8FA;
          border-radius: 5px;
          text-align: left;
          font-weight: 700;
          font-size: 1.2rem;
          line-height: 18px;
          color: #556EE6;
          border: solid 1px #F5F8FA;
          background: url('./assets/images/png/icon_down_select_option.png') no-repeat right #F5F8FA;
          -webkit-appearance: none;
          padding-left: 15px;
          cursor: pointer;
      }

      .custom-select:focus-visible {
          outline: none;
      }
  }

  .custom-page-index {
      display: flex !important;
      align-items: center !important;

      .title-page-index {
          margin-right: 10px;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 20px;
          color: #464E5F;
      }

      .pagination {
          .page-item {
              .page-link {
                  border: 1px solid #A3A1A1;
                  border-radius: 4px;
                  align-items: center;
                  text-align: center;
                  color: #25282B;
                  font-weight: 400;
                  font-size: 1.2rem;
                  line-height: 16px;
                  width: 30px;
                  height: 30px;
              }
          }

          .page-item.active {
              .page-link {
                  background: #556EE6;
                  border-radius: 4px;
                  align-items: center;
                  text-align: center;
                  color: #FFFFFF;
                  font-weight: 400;
                  font-size: 1.2rem;
                  line-height: 16px;
                  width: 32px;
                  height: 32px;
              }
          }
      }
  }
}
// ========= end style pagination global =========

// ========= end style date picker =========
.my-date-picker {
  position: relative;
  .btn-canlendar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
// ========= end style date picker =========
